// CONTAINER
$container-width: 1320px;
$container-paddings:0 20px;
// FONT
$primary-font:'Sen';
// FONT-SIZES
$big-text: 56px;
$h1: 48px;
$h1: 36px;
$h1: 28px;
$h1: 24px;
$h1: 20px;
$h1: 16px;

$text-regular: 16px;
$text-small: 14px;

$lh-regular:28px;
$lh-small:20px;

// COLORS
$primary:#ffd050;
$secondary: #232536;
$accent: #592EA9;
$gray-500: #6D6E76;
$gray-400: #F4F4F4;
$gray-400: #F4F0F8;
$light: #fbf6ea;